[flake8]
ignore =
    W605

per-file-ignores =
    navigator_engine/pluggable_logic/__init__.py: F401 F403 F402 

exclude =
    .git
    .cache
    .github
    .minikubevenv
    .pytest_cache

max-line-length = 127
