[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
aioredis = "*"
flask = "*"
flask-sqlalchemy = "*"
packaging = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
networkx = {extras = ["default"], version = "*"}
psycopg2-binary = "*"
openpyxl = "*"
requests = "*"
markdown = "*"
dash = "*"
dash-cytoscape = '*'
json-logging = "*"
py-healthcheck = "*"
Babel = "*"
flask_babel = '*'
polib = '*'
sqlalchemy-utils = '*'
sqlalchemy-i18n = '*'

[dev-packages]
flake8 = "*"
ipdb = "==0.13.9"
pytest = "*"
factory-boy = "*"
pydevd-pycharm = "*"
pytest-mock = "*"
python-dotenv = "*"
pytest-vcr = "*"
mypy = "*"
types-markdown = "*"
types-requests = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
