interactions:
- request:
    body: null
    headers:
      Authorization:
      - example-api-key
    method: GET
    uri: https://dev.adr.fjelltopp.org/api/3/action/package_show?id=antarctica-country-estimates-2022-1-2
  response:
    body:
      string: '{"help": "https://dev.adr.fjelltopp.org/api/3/action/help_show?name=package_show",
        "success": true, "result": {"geo-location": "Antarctica", "owner_org": "de623d4c-7e86-4dc4-a745-c835022929ca",
        "maintainer": "Robert Ashton", "relationships_as_object": [], "private": false,
        "maintainer_email": "", "num_tags": 4, "year": "2022", "id": "2317c329-7f76-42ae-8959-5a3a5c284596",
        "metadata_created": "2021-11-04T12:37:43.885056", "metadata_modified": "2021-11-04T12:42:41.083526",
        "author": null, "author_email": null, "type_name": "Country Estimates", "state":
        "active", "version": null, "license_id": "cc-by-igo", "type": "country-estimates-22",
        "resources": [{"validate_package": "true", "hash": "", "description": "",
        "cache_last_updated": null, "package_id": "2317c329-7f76-42ae-8959-5a3a5c284596",
        "mimetype_inner": null, "url_type": "upload", "validation_status": "success",
        "datastore_active": true, "id": "a86ee45c-90bf-4704-9036-e4d4df8aef52", "size":
        1045993, "mimetype": "application/geo+json", "cache_url": null, "name": "Geographic
        Data", "metadata_modified": "2021-11-04T12:38:26.743550", "created": "2021-11-04T12:38:16.745668",
        "validation_timestamp": "2021-11-04T12:38:26.537134", "restricted": "{\"allowed_organizations\":
        \"unaids\", \"allowed_users\": \"\", \"level\": \"public\"}", "format": "GeoJSON",
        "url": "https://dev.adr.fjelltopp.org/dataset/2317c329-7f76-42ae-8959-5a3a5c284596/resource/a86ee45c-90bf-4704-9036-e4d4df8aef52/download/demo_areas.geojson",
        "state": "active", "last_modified": "2021-11-04T12:38:16.485385", "resource_type":
        "inputs-unaids-geographic", "position": 0, "sha256": "fb9a189da2337c0b568998b3ab668ebf9e433e6ec26135cae95c20bf9bd5a953",
        "lfs_prefix": "imperial-college-london/antarctica-country-estimates-2022-1-2",
        "schema": "3_geojson_inputs"}, {"hash": "", "description": "", "cache_last_updated":
        null, "package_id": "2317c329-7f76-42ae-8959-5a3a5c284596", "mimetype_inner":
        null, "url_type": "upload", "validation_status": "success", "datastore_active":
        true, "id": "c4324942-4baf-4313-a15f-aa6cd90f07f8", "size": 15323, "mimetype":
        "text/csv", "cache_url": null, "name": "ANC Data", "metadata_modified": "2021-11-04T12:38:42.249305",
        "created": "2021-11-04T12:38:37.353913", "val[...]
